@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
.title{
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}
.favorite-id{
    margin-left: 10%;
}
.cardtextcomics{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color:whitesmoke !important;
    margin-bottom: 0px!important;
}
.card-favorites{
    margin-top: 10%;
    padding: 0!important;
    width: 190px;
    height: 450px;
    margin-bottom: 5%;
    background-color: #06060E!important;
}
@media (max-width: 400px) {
    .favorite-id{
        margin-left: 5%;
        margin-right: 50%;
        align-items: center;
    }
}
